.itm_val,
.loc_val {
    list-style-type: circle;
    font-family: Courier New, sans-serif;
    font-size: 13px

}

.time_head {
    color: gray;
    font-family: Courier New, sans-serif;
    font-size: 12px
}